# Node
node_modules/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Go
/backend/bin/
/backend/obj/
/backend/backend


# Docker
*.env
.env.*

# Misc
*.log
*.tmp
*.swp

# MySQL
/db_data/
